.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.foto {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 20px;
}

.nome, .turma {
  font-size: 18px;
  margin: 4px 0;
}
